/* Full-page background styling */
.pageBackground {
  background: url("/background.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container for the sign-in form */
.signinContainer {
  background-color: rgba(255, 255, 255, 0.94);
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
  border: none;
}

.signinContainer h2 {
  margin-bottom: 20px;
  font-size: 1.75rem;
  color: var(--text-color);
}

/* Sign-in form layout */
.signinForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

/* Input group styling */
.inputGroup {
  display: flex;
  flex-direction: column;
}
.inputGroup label {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
}
.inputGroup input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}
.inputGroup input:focus {
  border-color: var(--theme-color);
}

/* Authentication buttons */
.authButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.emailAuth {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.authButtons button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s;
  flex: 1;

}

/* Sign in & Sign up button styles */
.signIn {
  background: var(--theme-color);
  color: #fff;
  border:none;
}
.signIn:hover {
  background: var(--hover-color);
}
.signUp {
  background: #fff;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
}
.signUp:hover {
  background: var(--theme-color);
  color: #fff;
}

/* Google sign-in styling */
.googleSignin {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  color: #555;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1rem;
  transition: background 0.3s;
}
.googleSignin:hover {
  background-color: #f7f7f7;
}
.googleSignin img {
  width: 20px;
  height: 20px;
}

/* Reset password link */
.resetPassword {
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}
.resetPassword button {
  background: none;
  border: none;
  color: var(--theme-color);
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
  transition: color 0.3s;
}
.resetPassword button:hover {
  color: var(--hover-color);
}

/* Additional messaging and navigation */
.message {
  margin-top: 15px;
  font-size: 0.9rem;
  text-align: center;
}
.backToHome {
  margin-top: 20px;
  font-size: 0.9rem;
  text-align: center;
}
.backToHome a {
  color: var(--theme-color);
  text-decoration: none;
  transition: color 0.3s;
}
.backToHome a:hover {
  text-decoration: underline;
  color: var(--hover-color);
}
